@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap");
.todo-text {
  cursor: pointer;
}

.todo-completed {
  text-decoration: line-through;
}
.form_div {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 1.5rem 2rem;
  font-family: "Assistant", sans-serif;
}
input[type="text"] {
  width: 250px;
}
